BOT_TOKEN=
BOT_OWNER_ID=
MONGO_URI=mongodb://localhost:27017
DB_NAME=sls_hosting
API_HOST=0.0.0.0
API_PORT=8000
BOT_API_BASE=http://localhost:8000
UPLOAD_ROOT=./storage
MAX_FILE_SIZE_MB=100
JOIN_CHANNELS=@channel1,@channel2
ADMIN_IDS=
SUPPORT_CHANNEL=https://t.me/+yuLoicn7Djk0ZDY1
POWERED_BY_TEXT=Powered by SLS BOTS
RESTART_INTERVAL_HOURS=24
DEVELOPER_NAME=@ItsRyoSudhish
